#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		display = &spi1;
	};
};

&leds {
	display_dc: display_dc {
		gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
	};
	display_reset: display_reset {
		gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
	};
	display_cs: display_cs {
		gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
	};
	rfid_buzzer: buzzer {
		gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
	};
	confirm_button: button {
		gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
	};
};

&i2c1 {
	status = "okay";

	rfid_mux: mux@70 {
		reg = <0x70>;
		status = "okay";
		compatible = "ti,tca9548a";
		#address-cells = <1>;
		#size-cells = <0>;

		mux_i2c@5 {
			reg = <5>;
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "ti,tca9548a-channel";

			rfid@2c {
				compatible = "nxp,mfrc522";
				reg = <0x2c>;
				status = "okay";
				bearsink,room = "NHALL";
			};

			rfid@2d {
				compatible = "nxp,mfrc522";
				reg = <0x2d>;
				status = "disabled";
				bearsink,room = "TOMB";
			};

			rfid@2e {
				compatible = "nxp,mfrc522";
				reg = <0x2e>;
				status = "disabled";
				bearsink,room = "GUARDEDWAY";
			};
		};

		mux_i2c@6 {
			reg = <6>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "ti,tca9548a-channel";

			rfid@2c {
				compatible = "nxp,mfrc522";
				reg = <0x2c>;
				status = "disabled";
				bearsink,room = "GALLERY";
			};

			rfid@2d {
				compatible = "nxp,mfrc522";
				reg = <0x2d>;
				status = "disabled";
				bearsink,room = "ALLEY";
			};

			rfid@2e {
				compatible = "nxp,mfrc522";
				reg = <0x2e>;
				status = "disabled";
				bearsink,room = "BONEPIT";
			};
		};

		mux_i2c@2 {
			reg = <2>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "ti,tca9548a-channel";

			rfid@2c {
				compatible = "nxp,mfrc522";
				reg = <0x2c>;
				status = "disabled";
				bearsink,room = "ENTRANCE";
			};

			rfid@2d {
				compatible = "nxp,mfrc522";
				reg = <0x2d>;
				status = "disabled";
				bearsink,room = "VENT";
			};

			rfid@2e {
				compatible = "nxp,mfrc522";
				reg = <0x2e>;
				status = "disabled";
				bearsink,room = "DUNGEON";
			};

			rfid@2f {
				compatible = "nxp,mfrc522";
				reg = <0x2f>;
				status = "disabled";
				bearsink,room = "DINING";
			};
		};

		mux_i2c@4 {
			reg = <4>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "ti,tca9548a-channel";

			rfid@2c {
				compatible = "nxp,mfrc522";
				reg = <0x2c>;
				status = "disabled";
				bearsink,room = "NEST";
			};

			rfid@2d {
				compatible = "nxp,mfrc522";
				reg = <0x2d>;
				status = "disabled";
				bearsink,room = "BATHROOM";
			};

			rfid@2e {
				compatible = "nxp,mfrc522";
				reg = <0x2e>;
				status = "disabled";
				bearsink,room = "CANAL";
			};

			rfid@2f {
				compatible = "nxp,mfrc522";
				reg = <0x2f>;
				status = "disabled";
				bearsink,room = "STAIRCASE";
			};
		};

		mux_i2c@3 {
			reg = <3>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "ti,tca9548a-channel";

			rfid@2c {
				compatible = "nxp,mfrc522";
				reg = <0x2c>;
				status = "disabled";
				bearsink,room = "CELLAR";
			};

			rfid@2d {
				compatible = "nxp,mfrc522";
				reg = <0x2d>;
				status = "disabled";
				bearsink,room = "SHALL";
			};

			rfid@2e {
				compatible = "nxp,mfrc522";
				reg = <0x2e>;
				status = "disabled";
				bearsink,room = "BALLROOM";
			};

			rfid@2f {
				compatible = "nxp,mfrc522";
				reg = <0x2f>;
				status = "disabled";
				bearsink,room = "NUM_ROOMS";
			};
		};
	};
};

&spi1 {
	status = "okay";
};
